.hero {
    background-color: rgb(12, 30, 41);
    padding-top: 1px;
    padding-bottom: 4rem;
}

.title {
    font-size: 2rem;
}


    .card-conatiner {
        display: flex;
        gap: 8rem;
        justify-content: center;
        align-items: center;

    }

.second-coloum {
    padding-top: 10rem;
    padding-bottom: 2rem;
}